* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo, sans-serif;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
    scroll-behavior: smooth;

}


/*------------------------------------*\
	General
\*------------------------------------*/

.iphone-x {
    transform: scale(.6);
    margin-top: -165px;
}


/* -- typography -- */

body {
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cairo', sans-serif !important;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: #eeb407;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}

.main-color {
    color: #6195FF;
}

.white-text {
    color: #FFF !important;
}

::-moz-selection {
    background-color: #6195FF;
    color: #FFF;
}

::selection {
    background-color: #6195FF;
    color: #FFF;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}


/* -- section  -- */

.container-border {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
}

.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 45px;
    padding-bottom: 45px;
}

.my-5 {
    margin: 30px 0;
}

.my-2 {
    margin: 20px auto;
}

.mx-1 {
    margin: auto 10px;
}

#app, #blog, #services, #contact, #FAQ, #search {
    margin-top: 80px;
}

/* -- color section -- */

.white {
    color: #FFF;
}

.yellow {
    color: #eeb407;
}

.light-blue {
    color: #17a3b8;
}

.dark-blue {
    color: #0573c7;
}


/* --  background section  -- */

.bg-yellow {
    background-color: #eeb407;
}

.bg-light-blue {
    background-color: #17a3b8;
}

.bg-dark-blue {
    background-color: #0573c7;
}

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}

.bg-mix {
    background: linear-gradient(-200deg, #17a3b8, #0573c7) !important;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}


/* --  section header  -- */

.section-header {
    position: relative;
    margin-bottom: 60px;
}

.section-header .title {
    text-transform: capitalize;
}

.title:after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #eeb407;
    margin-top: 20px;
}

.text-center .title:after {
    margin: 20px auto 0px;
}


/* --  Input  -- */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="tel"],
textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #eeb407;
    opacity: 1;
}


/* --  Buttons  -- */

.main-btn,
.white-btn,
.outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: #eeb407;
    color: #FFF;
}

.white-btn {
    background: #FFF;
    color: #10161A !important;
}

.outline-btn {
    background: transparent;
    color: #6195FF !important;
    border-color: #6195FF;
}

.main-btn:hover,
.white-btn:hover,
.outline-btn:hover {
    opacity: 0.8;
}

.home-text,
.home-text h1 {
    color: #FFF;
}


/* --- mobile heder  --- */

@media only screen and (max-width: 991px) {
    .home-text {
        text-align: center;
    }
}


/*------------------------------------*\
	Sidenav
\*------------------------------------*/

.user-photo {
    border-radius: 50%;
    /* border: 3px solid #337ab7 !important; */
}

.sidenav {
    height: 100%;
    width: 274px;
    position: fixed;
    z-index: 5;
    background: #1C1D21;
    overflow-x: hidden;
    padding-top: 50px;
    text-align: right;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.show-menu {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidenav a {
    padding: 7px 32px 7px 7px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .user-btn {
    float: right;
}
.user-group {
    min-height: 50px;
}
.user-group .user-name {
    position: absolute;
    right: 50%;
    top: 15%;
    color: #fff;
}
.sidenav .user-btn .btn-group img  {
    border-radius: 50%;
    border: #eeb407;
}

.dropdown-toggle{
    padding: 0;
}

.sidenav .closebtn {
    display: inline-block;
    color: linear-gradient(-333deg, #153186, #21a9c1);
    font-size: 23px;
    position: absolute;
    top: 12px;
    left: 16px;
    cursor: pointer;
}

.sidenav .sidenav-links li {
    display: none;
    width: 100%;
}
.main-links li a {
    color: #fff;
}

.main-links li a:hover {
    transform: scale(1.1);
    color: #eeb407;

}


/*------------------------------------*\
	Carousel 
\*------------------------------------*/

#header-carousel .carousel-inner {
    height: 100vh;
}

#header-carousel .carousel-inner .item {
    min-width: 10vw;
    min-height: 100vh;
    background-size: cover;
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
}

#header-carousel .carousel-inner .item .carousel-overlay {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #080d15;
    opacity: .7;
}

#header-carousel .carousel-inner .item .carousel-caption {
    position: absolute;
    bottom: 20vh;
    opacity: 0;
    -webkit-transition: .7s all ease-in-out .1s;
    -moz-transition: .7s all ease-in-out .1s;
    -ms-transition: .7s all ease-in-out .1s;
    -o-transition: .7s all ease-in-out .1s;
    transition: .5s all ease-in-out .1s;
}

#header-carousel .carousel-inner .item .carousel-caption h1 {
    color: #eeb407;
    font-size: 55px;
}
#header-carousel .carousel-inner .item .carousel-caption p {
    font-size: 25px;
}

#header-carousel .carousel-inner .item .carousel-caption a {
    font-size: 20px;
    padding: 10px;
    color: #FFF;
}

#header-carousel .carousel-indicators{
    z-index: 1;
}

#header-carousel .carousel-inner .item.active .carousel-caption {
    opacity: 1;
    bottom: 13vh;
    -webkit-transition: .7s all ease-in-out .1s;
    -moz-transition: .7s all ease-in-out .1s;
    -ms-transition: .7s all ease-in-out .1s;
    -o-transition: .7s all ease-in-out .1s;
    transition: .5s all ease-in-out .1s;
}

.item1 {
    background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

.item2 {
    background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}

.item3 {
    background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
}


/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
    padding: 0;
    float: right !important;
}

.navbar-brand .logo,
.navbar-brand .logo-alt {
    max-height: 50px;
    display: block;
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
    display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
    display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }
    #nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }
}

#nav {
    font-family: 'Cairo', sans-serif !important;
    padding: 10px 0px;
    background: #FFF;
    -webkit-transition: 0.2s padding;
    transition: 0.2s padding;
    z-index: 4;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}

#nav.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
}

#nav.fixed-nav {
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    color: #FFF !important;
    background: linear-gradient(-200deg, #17a3b8, #0573c7) !important;
    border-bottom: 1px solid #17a3b8;
}

#nav.nav-transparent {
    background: transparent;
}


/* -- default nav -- */

.nav-btn a {
    padding-top: 10px !important;
    color: #fff;
    width: 80px;
    height: 40px;
    margin-top: 7px;
}

.user {
    margin: 10px;
}

.login-btn {
    background: transparent;
    color: #fff !important;
    border: 1px solid #eeb407;

    padding: 5px;
    border-radius: 10px;
    transition: .3s;
}

.login-btn:hover {
    text-decoration: none;
    color: #eeb407;
    background: none;
}


.fa-bars {
    margin-left: 20px;
    font-size: 2.5em !important;
    color: #fff;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 6;
}

.navbar-brand {
    float: left !important;
}

.main-nav li {
    padding: 0px 15px;
}

.main-nav li a {
    font-size: 14px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}
.main-nav>li>a {
    color: #fff;
    padding: 15px 0px;
}
#nav.nav-transparent:not(.fixed-nav) .main-nav>li>a {
    color: #fff;
}
.main-nav>li>a:hover,
.main-nav>li>a:focus,
.main-nav>li.active>a {
    background: transparent;
    color: #eeb407;
}
.main-nav>li>a:after {
    content: "";
    display: block;
    background-color: #eeb407;
    height: 2px;
    width: 0%;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}
.main-nav>li>a:hover:after,
.main-nav>li.active>a:after {
    width: 100%;
}
@media only screen and (max-width: 768px) {

    .nav-links {
        display: none !important;
    }
   
    .sidenav .sidenav-links li {
        display: block;
    }
}

.modal-backdrop {
    position: static !important;
}

.sidebar-only {
    display: none;
}

.sidebar-only img {
    max-height: 120px;
    margin: auto;
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header {
    position: relative;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.home-content h1 {
    text-transform: uppercase;
}

.home-content button {
    margin-top: 20px;
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    margin-top: 20px;
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}


/*------------------------------------*\
	Download Butons
\*------------------------------------*/

.home-store-btns  li {
    width: fit-content;
    display: inline-block;
    margin-top: 50px;
}

.store-btn {
    margin: 10px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.store-btn:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


/*------------------------------------*\
	Video section
\*------------------------------------*/

#video div div div {
    margin: auto;
    max-width: 620px;
}

@media only screen and (max-width: 640px) {
    #video div div div {
        margin: auto 12px;
    }
}


/*------------------------------------*\
	How to use
\*------------------------------------*/

.phone {
    opacity: 1;
    transition: opacity 120ms linear 0s;
}

@media only screen and (min-width: 992px) {
    .toggle-phones-btns {
        display: none;
    }
}
.hide {
    display: none;
}
.toggle-phones-btns li {
    display: inline-block;
    margin: 0 10px;
}
.toggle-phones-btns li button {
    border: 1px solid #17a2b8;
    border-radius: 24px;
    background: none;
    color: #17a2b8;
    height: 50px;
    width: 100px;
}
.toggle-phones-btns li button:hover,
.toggle-phones-btns li .active {
    background: #17a2b8;
    color: #ffF;
}

/*------------------------------------*\
	Footer
\*------------------------------------*/
#footer {
    position: relative;
}
.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}
.footer-logo>a>img {
    max-height: 130px;
}
.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}
.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}
.footer-follow li a {
    font-size: 25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #eeb407;
    color: #FFF;
}
.footer-copyright p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: -40px;
}

.footer-section {
    /* margin-top: 25px !important;  */
    min-height: 200px;
    /* max-height: 200px; */
    height: 200px;
}

/*------------------------------------*\
	Blog
\*------------------------------------*/


/* Search */
.search-bar input{
    border: 2px solid #eeb407 !important;
    border-radius: 10px;
    background: transparent;
}

.search-bar input:focus{
    outline: transparent;
}

.result .media-body {
    min-height: 150px;
}

.result .media-body  .more{
    float: left;
    margin-top: 30px;
}

/************************/

.blog {
    background-color: #FFF;
    margin: 15px 0px;
}
.blog .blog-content {
    padding: 20px 20px 40px;
}
.blog .blog-meta {
    margin-bottom: 20px;
}
.blog .blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: #10161A;
    margin-right: 10px;
}
.blog .blog-meta li i {
    color: #eeb407;
    margin-right: 5px;
}

/*------------------------------------*\
	Blog post
\*------------------------------------*/
#main .blog .blog-content {
    padding: 20px 0px 0px;
}
#main .blog {
    margin-top: 0px;
}

/* -- blog tags -- */
.blog-tags {
    margin: 40px 0px;
}
.blog-tags h5 {
    margin-bottom: 0;
    display: inline-block;
}
.blog-tags a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 14px;
    margin: 2px 0px;
    background: #F4F4F4;
    color: #10161A;
}
.blog-tags a:hover {
    color: #FFF;
    background-color: #eeb407;
}
.blog-tags a i {
    margin-right: 3px;
    color: #eeb407;
}
.blog-tags a:hover i {
    color: #fff;
}

/* -- blog author -- */
.blog-author {
    margin: 40px 0px;
}
.blog-author .media .media-left {
    padding-right: 20px;
}
.blog-author .media {
    padding: 20px;
    border: 1px solid #EEE;
}
.blog-author .media .media-heading {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.blog-author .media .media-heading h3 {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}
.blog-author .media .media-heading .author-social {
    float: right;
}
.blog-author .author-social a {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    margin-left: 5px;
    color: #FFF;
    background-color: #6195FF;
}

/* -- blog comments -- */
.blog-comments {
    margin: 40px 0px;
}
.media {
    padding: 20px;
    background-color: #FFF;
    border-top: 1px solid #EEE;
    border-bottom: 0px;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin-top: 0px;
}
.media:first-child {
    border-bottom: 0px;
}
.media:last-child {
    border-bottom: 1px solid #EEE;
}
.media .media-left {
    padding-left: 20px;
}
.media .media-body .media-heading {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.media .media-body .media-heading .time {
    font-size: 12px;
    margin-right: 20px;
    font-weight: 400;
    color: #868F9B;
}
.media .media-body .media-heading .reply {
    float: left;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}
.media.author {
    /* background-color: #F4F4F4; */
    
    border-color: #eeb407;
    border-bottom: 1px solid #eeb407;
}
.media.author>.media-body>.media-heading {
    color: #eeb407;
}
.media.author+.media {
    border-top: 0px;
}

/* blog reply form */
.reply-form {
    margin: 40px 0px;
}
.reply-form form .input,
.reply-form form .input,
.reply-form form textarea {
    margin-bottom: 20px;
}
.reply-form form .input,
.reply-form form .input {
    width: calc(50% - 10px);
    display: inline-block;
}
.reply-form form .input:nth-child(2) {
    margin-left: 15px;
}

/*------------------------------------*\
	Blog sidebar
\*------------------------------------*/
#aside .widget {
    margin-bottom: 40px;
}
.widget h3 {
    text-transform: uppercase;
}

/* -- search sidebar -- */
.widget-search {
    position: relative;
}
.widget-search .search-input {
    padding-right: 50px;
}
.widget-search .search-btn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 40px;
    background-color: transparent;
    color: #eeb407;
}

/* -- category sidebar -- */
.widget-category a {
    display: block;
    font-size: 14px;
    color: #354052;
    border-bottom: 1px solid #EEE;
    padding: 5px;
}
.widget-category a:nth-child(1) {
    border-top: 1px solid #EEE;
}
.widget-category a span {
    float: right;
    color: #eeb407;
}
.widget-category a:hover {
    color: #eeb407;
}

/* -- tags sidebar -- */
.widget-tags a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 14px;
    margin: 2px 0px;
    background: #F4F4F4;
    color: #10161A;
}
.widget-tags a:hover {
    color: #FFF;
    background-color: #eeb407;
}

/* -- posts sidebar -- */
.widget-post {
    min-height: 70px;
    margin-bottom: 25px;
}
.widget-post img {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.widget-post a {
    display: block;
    color: #10161A;
}
.widget-post a:hover {
    color: #eeb407;
}
.widget-post .blog-meta {
    display: inline-block;
}
.widget-post .blog-meta li {
    display: inline-block;
    margin-right: 5px;
    color: #eeb407;
    font-size: 12px;
}
.widget-post li i {
    color: #eeb407;
    margin-right: 5px;
}
.post-glide {
    cursor: grab;
}
.media-body .blog-meta li {
    display: inline-block;
    margin-right: 5px;
    color: #eeb407;
    font-size: 12px;
}

/*------------------------------------*\
	Contact
\*------------------------------------*/
.contact {
    margin: 15px 0px;
    text-align: center;
}
.contact i {
    font-size: 36px;
    color: #eeb407;
    margin-bottom: 20px;
}
.contact-form {
    text-align: center;
    margin-top: 40px;
}
.contact-form .input {
    margin-bottom: 20px;
}
.contact-form .input:nth-child(1),
.contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}
.contact-form .input:nth-child(2) {
    margin-left: 15px;
}

/*------------------------------------*\
	Back to top
\*------------------------------------*/
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #eeb407;
    border-radius: 3px;
    color: #FFF;
    z-index: 2;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    cursor: pointer;
}
#back-to-top:after {
    content: "\f106";
    font-family: 'FontAwesome';
}
#back-to-top:hover {
    opacity: 0.8;
}
.panel-title a {
    display: block;
    padding: 10px 0 !important;
}
.panel-title a:hover,
.panel-title a:focus {
    color: #eeb407;
}
#FAQ {
    min-height: 100vh;
}
.swiper-pagination {
    position: static;
}
.swiper-pagination .swiper-pagination-bullet {
    padding: 0.3em 1.2em !important;
    margin: 0 0.1em 0.1em 0 !important;
    border: 0.16em solid rgba(255, 255, 255, 0) !important;
    border-radius: 2em !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    color: #FFFFFF !important;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35) !important;
    text-align: center !important;
    transition: all 0.2s !important;
    width: 60px !important;
    height: 40px !important;
}
.swiper-pagination .swiper-pagination-bullet:hover {
    border-color: rgba(255, 255, 255, 1) !important;
}

/* @media all and (max-width:30em) {
    .swiper-pagination .swiper-pagination-bullet {
        display: block;
        margin: 0.2em auto;
    }
} */
@media only screen and (min-width: 768px) {
    .swiper-pagination {
        display: none;
    }
}

/* MODAL  */
.modal-body .input-group {
    margin: 22px auto;
}